+font-face('Open Sans', '../fnt/Open_Sans/OpenSans')
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans-Extrabold', 800)
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans-Italic', 400, italic)

.app-body
    +flex-box()
    flex-wrap: wrap
    // box-sizing: border-box
    margin: 0
    padding: 0
    font:
        family: 'Open Sans', sans-serif
        weight: 400
        style: normal
        size: 16px
    line-height: 1.5
    &__header,
    &__main,
    &__sidebar_left,
    &__sidebar_right,
    &__footer
        +flex-box()
        margin: 0
        // width: 100%
        // align-content: flex-start
    &__header
        background-color: $color-gray
    &__main
        background-color: $color-gray-darker
    &__sidebar
        background-color: $color-gray-dark
        &_left
            border-right: 3px solid $color-gray-lighter
        &_right
            border-left: 3px solid $color-gray-lighter
    &__footer
        background-color: $color-gray-light
    &__element
        // align-content: flex-start
    &__element-overlay
    &__element-content
        // margin: 0 auto
        // &_width_full
            // max-width: 100%
