// body (b)
//     __header (h)
//     __main (m)
//     __sidebar-left (s-l)
//     __sidebar-right (s-r)
//     __footer (f)
//     __element (e)
//         _[i]-[j][-base] ([i]-[j][-b])
// 
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans')
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans-Extrabold', 800)
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans-Italic', 400, italic)

.b
    +flex-box-init()
    font:
        family: 'Open Sans', sans-serif
        weight: 400
        style: normal
    line-height: 1.5
    word-wrap: break-word
    &__h,
    &__m,
    &__s-l,
    &__s-r,
    &__f
        +flex-box-init()
        justify-content: center
        +flex-item-init()
    &__e
        +flex-item-init()
        box-sizing: border-box
        &_1-2
            max-width: 50%
            min-width: 50%
