// body (b)
//     __header (h)
//     __main (m)
//     __sidebar-left (s-l)
//     __sidebar-right (s-r)
//     __footer (f)
//     __element-group (e-g)
//         _base (b)
//     __element (e)
//         _[number] (1 to 12)
//     __element-space (e-s)
//         _before_[number] (b_[1 to 12])
//         _after_[number] (a_[1 to 12])
//
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans')
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans-Extrabold', 800)
+font-face('Open Sans', '../fnt/Open_Sans/OpenSans-Italic', 400, italic)
.b
    +flex-box-init()
    justify-content: center
    font:
        family: 'Open Sans', sans-serif
        weight: 400
        style: normal
    line-height: $font-line-height-base
    word-wrap: break-word
    overflow-x: hidden
    &__h,
    &__m,
    &__s-l,
    &__s-r,
    &__f
        +flex-item-init()
        +flex-box-init()
        align-items: flex-start
    &__e-g
        +flex-item-init()
        +flex-box-init()
        &_b
            justify-content: center
    &__e
        +flex-item-init()
        box-sizing: border-box
        @for $j from 1 through 12
            &_#{$j}
                max-width: ($j / 12) * 100%
                flex-basis: ($j / 12) * 100%
            &-s_b_#{$j}
                margin-left: ($j / 12) * 100%
            &-s_a_#{$j}
                margin-right: ($j / 12) * 100%
