// paragraph (p)
//     __title (t)
//         _inline (i)
//     _example (e)
//     _indentation (i)
//
.p
    padding: 10px 0 0
    margin: 0
    font-size: 1em
    &__t
        display: block
        margin: 0
        padding: 10px 0
        font-size: 1.2em
        &_i
            display: inline
            &::after
    &_i
        text-indent: 1rem
        .p__t
            text-indent: 1rem
    &_e
        border: 2px solid $color-gray-light
        border-radius: 5px
        .p__t
            padding: .4em .8rem
            font-size: 1em
            background-color: $color-gray-light
            // border-top-right-radius: 5px
            // border-top-left-radius: 5px
        // .p__c
        //     padding: .4em .8rem
        //     background-color: $color-accent-opposite
        //     border: 2px solid $color-gray-light
        //     border-bottom-right-radius: 5px
        //     border-bottom-left-radius: 5px
