@media (max-width: $screen-mobile-medium - 1px)
    .b
        font-size: $font-size-small
        &__e-g_b
            @for $i from 2 through 12
                @for $j from 1 through $i - 1
                    >.b__e_#{$j}-#{$i}
                        +width-element-max-and-min($i, $j, $width-base-mobile-small)
@media (min-width: $screen-mobile-medium) and (max-width: $screen-mobile-large - 1px)
    .b
        font-size: $font-size-small
        &__e-g_b
            @for $i from 2 through 12
                @for $j from 1 through $i - 1
                    >.b__e_#{$j}-#{$i}
                        +width-element-max-and-min($i, $j, $width-base-mobile-medium)
@media (min-width: $screen-mobile-large) and (max-width: $screen-desktop-small - 1px)
    .b
        font-size: $font-size-medium
        &__e-g_b
            @for $i from 2 through 12
                @for $j from 1 through $i - 1
                    >.b__e_#{$j}-#{$i}
                        +width-element-max-and-min($i, $j, $width-base-mobile-large)
@media (max-width: $screen-desktop-small - 1px)
    .b
        &__h
            order: 1
        &__m
            order: 2
        &__s-l
            order: 3
        &__s-r
            order: 4
        &__f
            order: 5
