=font-face($font-family, $file-path, $weight: 400, $style: normal, $file-formats: eot woff2 woff ttf)
    $src: ()
    $formats-map: (eot: url("#{$file-path}.eot?#iefix") format("embedded-opentype"), woff2: url("#{$file-path}.woff2") format("woff2"), woff: url("#{$file-path}.woff") format("woff"), ttf: url("#{$file-path}.ttf") format("truetype"))
    @each $key, $value in $formats-map
        @if contains($file-formats, $key)
            $src: append($src, $value, comma)
    @font-face
        font:
            family: $font-family
            style: $style
            weight: $weight
        src: $src

=flex-box-init($is-inline: false, $wrap: wrap, $no-gitter: true)
    display: if($is-inline, inline-flex, flex)
    flex-wrap: $wrap
    @if $no-gitter
        margin: 0
        padding: 0

=flex-item-init($grow: 1, $basis: 100%)
    flex-grow: $grow
    flex-basis: $basis

=background-image($url, $is-fixed: false)
    background:
        image: url($url)
        size: cover
        repeat: no-repeat
        position: center
        attachment: if($is-fixed, fixed, scroll)

=background-texture($url, $is-fixed: false)
    background:
        image: url($url)
        repeat: repeat
        position: center
        attachment: if($is-fixed, fixed, scroll)

=icon($url-image, $padding, $url-image-hover: null)
	background: url($url-image) no-repeat center
	background-size: contain
	padding-left: $padding
    @if $url-image-hover
    	&:hover
    		background-image: url($url-image-hover)

=width-element-max-and-min($i, $j, $width-base, $max: true, $min: true)
    @if $max
        max-width: $j * $width-base / $i
    @if $min
        min-width: $j * $width-base / $i
    flex-basis: $j * $width-base / $i

=input-colors($color-line: $color-gray, $color-font: $color-black, $not-disabled: true, $width-border: 1px)
    color: $color-font
    background-color: transparent
    border:
        top: none
        left: none
        right: none
        bottom: $width-border solid $color-line
    @if ($not-disabled)
        // box-shadow: 0 2px 5px lighten($color-black, 70%)
        &:hover
            // box-shadow: 0 4px 7px lighten($color-black, 65%)
        &:focus
            box-shadow: 0 2px lighten($color-black, 65%)
            outline: none
            border-color: $color-black
    @else
        box-shadow: none
        cursor: not-allowed
        color: $color-gray-light
        &:hover
            box-shadow: none

=button-colors($color-background: $color-gray-darker, $color-font: $color-white, $not-disabled: true, $width-border: 1px, $type-border: solid)
    color: $color-font
    background-color: $color-background
    border: $width-border $type-border $color-font
    @if ($not-disabled)
        box-shadow: 0 4px 5px lighten($color-black, 60%)
        &:hover
            border: $width-border $type-border $color-font
            box-shadow: 0 6px 8px lighten($color-black, 55%)
        &:focus
            outline: none
        &:active
            box-shadow: 0 3px 4px lighten($color-black, 65%)
    @else
        box-shadow: none
        &:hover
            border: $width-border $type-border $color-font
            box-shadow: none

=button-colors-transparent($color-font: $color-gray-darker, $color-background: $color-white, $not-disabled: true, $width-border: 1px, $type-border: solid)
    color: $color-font
    background-color: $color-background
    border: $width-border $type-border $color-font
    @if ($not-disabled)
        &:hover
            color: $color-background
            background-color: $color-font
            border: $width-border $type-border $color-background
        &:focus
            outline: none
        &:active
            background-color: darken($color-font, 10%)
    @else
        &:hover
            color: $color-font
            background-color: $color-background
            border: $width-border $type-border $color-font
        &:active
            background-color: $color-background
